<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="keywords" content="hotel, hoteles, viaje, reservas, vacaciones, relax, descanso travel, vacations">
    <meta name="descripcion" content="reserva de hotel, vacaciones, descanso">
    <link rel="icon" href="../static/img/Gold Luxury Real Estate Agency Logo.png">
    <link rel="stylesheet" href="../static/style/Eventos.css">
    <title>Eventos Casa Magna Hotel</title>

</head>

<!--
    ../templates/
    ../static/

-->
<body>
    <header>
        <div class="container-logo">
            <img src="../static/img/Gold Luxury Real Estate Agency Logo.png" alt="logo hotel">
        </div>
    <nav class="barra-nav" id="nav-links">
        <!-- LINKS -->
        <ul class="lista-nav">
            <li><a href="../templates/index.html" class="links">Inicio</a></li>
            <li><a href="../templates/Galerias.html" class="links">Galeria</a></li>
            <li><a href="../templates/Eventos.html" class="links">Eventos</a></li>
            <li><a href="../templates/ContactoBootstrap.html" class="links">Contacto</a></li>
            <li><a href="../templates/Habitaciones.html">Habitaciones</a></li>
        </ul>
        <button class="burger-menu" id="burger-menu">
            <ion-icon class="barras" name="menu-outline"></ion-icon>
        </button>
    </nav>
</header>

    <div class="separacion">
        <hr>
    </div>

    <div class="container-titulo">
        <div class="titulo">
            <h1>EVENTOS</h1>
        </div>
    </div>

    <div class="separacion">
        <hr>
    </div>
    <div class="container">
    <div class="tarjeta">   
        <h1>Salón Mendoza</h1>
        <img src="../static/img/Salon 100.jpg">
        <table>

            <tr>
                <td colspan="2">Información General</td>

            </tr>
            <tr>
                <td>Capacidad</td>
                <td>Hasta 100 personas</td>
            </tr>

            <tr>
                <td>Estacionamiento</td>
                <td>Hasta 50 vehículos</td>
            </tr>

            <tr>
                <td>Wifi</td>
                <td>Disponible y gratuito</td>
            </tr>
            <tr>
                <td>Servicio</td>
                <td>1 Camarera por cada 15 invitados, cocina, decoración a selección</td>
            </tr>
            <tr>
                <td>Método de pago</td>
                <td>Crédito Débito MercadoPago</td>
            </tr>

        </table>

        <div class="buttoninfo">
            
            <button class="buttonlabel">Solicita mas Información</button>   

        </div>
    </div>     
    <div class="tarjeta">

        <h1>Salón Neuquén</h1>
        <img src="../static/img/Salon 300.jpg" alt="">
        <table>

            <tr>
                <td colspan="2">Información General</td>

            </tr>
            <tr>
                <td>Capacidad</td>
                <td>Hasta 300 personas</td>
            </tr>

            <tr>
                <td>Estacionamiento</td>
                <td>Hasta 185 vehículos</td>
            </tr>

            <tr>
                <td>Wifi</td>
                <td>Disponible y gratuito</td>
            </tr>
            <tr>
                <td>Servicio</td>
                <td>1 Camarera por cada 15 invitados, cocina, decoración a selección</td>
            </tr>
            <tr>
                <td>Método de pago</td>
                <td>Crédito Débito MercadoPago</td>
            </tr>
        </table>

        <div class="buttoninfo">
            
            <button class="buttonlabel">Solicita mas Información</button>   

        </div>
    </div>    

    <div class="tarjeta">
        <h1>Salón Bariloche</h1>
        <img src="../static/img/Salon 500.jpg" alt="">
        <table>

            <tr>
                <td colspan="2">Información General</td>

            </tr>
            <tr>
                <td>Capacidad</td>
                <td>Hasta 500 personas</td>
            </tr>

            <tr>
                <td>Estacionamiento</td>
                <td>Hasta 300 vehículos</td>
            </tr>

            <tr>
                <td>Wifi</td>
                <td>Disponible y gratuito</td>
            </tr>
            <tr>
                <td>Servicio</td>
                <td>1 Camarera por cada 15 invitados, cocina, decoración a selección</td>
            </tr>
            <tr>
                <td>Método de pago</td>
                <td>Crédito Débito MercadoPago</td>
            </tr>

        </table>

        <div class="buttoninfo">
            
            <button class="buttonlabel">Solicita mas Información</button>   

        </div>
    </div>
    </div>    
    
        <br><br>
        
        <footer>
            <div class="redes-sociales">
                <p> <b>Visita nuestras redes sociales</b></p>
                <a href="https://www.facebook.com/" target="_blank"><img src="../static/img/Iconos redes/facebook.png" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/" target="_blank"><img src="../static/img/Iconos redes/instagram.png" alt="Instagram">
                </a>
                <a href="https://web.whatsapp.com/" target="_blank"><img src="../static/img/Iconos redes/whatsapp.png" alt="Whatsapp">
                </a>
                <p>&#169; 2013 Codo a Codo</p>
            </div>
        </footer>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script src="../static/js/MenuHam.js"></script>
</body>




</html>