<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="hotel, hoteles, viaje, reservas, vacaciones, relax, descanso travel, vacations">
    <meta name="descripcion" content="reserva de hotel, vacaciones, descanso">
    <link rel="stylesheet" href="../static/style/habitaciones.css">
    <link rel="icon" href="../static/img/Gold Luxury Real Estate Agency Logo.png">
    <title>Habitaciones Casa Magna Hotel</title>

</head>

<body>
    <header>
        <div class="container-logo">
            <img src="../static/img/Gold Luxury Real Estate Agency Logo.png" alt="logo hotel">
        </div>
        <nav class="barra-nav" id="nav-links">
            <!-- LINKS -->
            <ul class="lista-nav">
                <li><a href="../templates/index.html" class="links">Inicio</a></li>
                <li><a href="../templates/Galerias.html" class="links">Galeria</a></li>
                <li><a href="../templates/Eventos.html" class="links">Eventos</a></li>
                <li><a href="../templates/ContactoBootstrap.html" class="links">Contacto</a></li>
                <br>
                <li><a href="../templates/habitaciones.html" class="links">EdicióndeHabitaciones</a></li>
            </ul>
            <button class="burger-menu" id="burger-menu">
                <ion-icon class="barras" name="menu-outline"></ion-icon>
            </button>
        </nav>
    </header>
    <div class="separacion">
        <hr>
    </div>
    <div class="container-titulo">
        <div class="titulo">
            <h1>HABITACIONES</h1>
        </div>
    </div>
    <div class="separacion">
        <hr>
    </div>
    <article class="article-container">
        <div class="container-tarjetas">
            <div class="tarjeta">
                <img src="../static/img/Imagenes Habitaciones/HabEstandar.jpg" alt="habitacionestandar">
                <ul class="lista-servicios">
                    <h2>Habitacion Estandar</h2>
                    <li>Cafe</li>
                    <li>Estacionamientos</li>
                    <li>Tv led</li>
                    <li>WiFi</li>
                    <!-- <li>Aire acondicionado</li> -->
                    <li>Baños privados</li>
                </ul>
            </div>
            <div class="tarjeta">
                <img src="../static/img/Imagenes Habitaciones/HabDoble.jpg" alt="habitaciondoble">
                <ul class="lista-servicios">
                    <h2>Habitacion Familiar</h2>
                    <li>Cafe - Bar</li>
                    <li>Estacionamientos</li>
                    <li>Tv 4K</li>
                    <li>WiFi</li>
                    <li>Aire acondicionado</li>
                    <li>Baños privados</li>
                    <li>4 camas</li>
                </ul>
            </div>
            <div class="tarjeta">
                <img src="../static/img/Imagenes Habitaciones/HabEjecutiva.jpg" alt="habitacionejecutiva">
                <ul class="lista-servicios">
                    <h2>Habitacion Ejecutiva</h2>
                    <li>Desayuno - Buffet</li>
                    <li>Estacionamientos</li>
                    <li>Tv 4k</li>
                    <li>WiFi</li>
                    <li>Aire acondicionado</li>
                    <li>Baños privados</li>
                    <li>Camas dos plazas</li>
                </ul>
            </div>
            <div class="tarjeta">
                <img src="../static/img/Imagenes Habitaciones/HabEspecial.jpg" alt="habitacionespecial">
                <ul class="lista-servicios">
                    <h2>Habitacion Especial</h2>
                    <li>Buffet Libre</li>
                    <li>Estacionamientos Privado</li>
                    <li>Tv 4k - Consola de juegos</li>
                    <li>WiFi</li>
                    <li>Aire acondicionado</li>
                    <li>Baños privados - Jacuzzi</li>
                    <li>Terraza Privada</li>
                </ul>
            </div>
        </div>
    </article>
        <footer>
        <div class="redes-sociales">
            <p> <b>Visita nuestras redes sociales</b></p>
            <a href="https://www.facebook.com/" target="_blank"><img src="../static/img/Iconos redes/facebook.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/" target="_blank"><img src="../static/img/Iconos redes/instagram.png" alt="Instagram">
            </a>
            <a href="https://web.whatsapp.com/" target="_blank"><img src="../static/img/Iconos redes/whatsapp.png" alt="Whatsapp">
            </a>
        </div>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="../static/js/MenuHam.js"></script>
    <script src="../static/ruta_al_archivo/app.js"></script>
</body>



</html>

  <!--
    ../templates/
    ../static/

-->
